 .election-management {
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.08);
}

.inactive {
  color: red;
  font-weight: 600;
}

.activate-btn {
  background: #1565c0;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 5px;
  cursor: pointer;
}