/* Background only for signup page */
.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Indian flag inspired gradient */
  background: linear-gradient(
    135deg,
    rgba(255, 153, 51, 0.6),
    rgba(255, 255, 255, 0.6),
    rgba(19, 136, 8, 0.6)
  );
}

/* Glass Card */
.signup-card {
  width: 400px;
  padding: 35px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);   /* MUST be transparent */
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
.signup-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Labels */
.signup-card label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

/* Inputs & Select */
.signup-card input,
.signup-card select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.4);
  background:rgb(30 58 138 / 44%);
  outline: none;
  transition: 0.3s;
}

.signup-card input:focus,
.signup-card select:focus {
  border: 1px solid #1e3a8a;
  box-shadow: 0 0 8px rgba(30,58,138,0.3);
}

/* Terms */
.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 18px;
  font-size: 14px;
}

.terms input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Button */
.signup-btn {
  width: 100%;
  margin-top: 0px;
  padding: 12px;
  border-radius: 10px;
  border: none;

  background: linear-gradient(
    90deg,
    #ff9933,
    #1e3a8a,
    #138808
  );

  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}