/* ================= BACKGROUND SAME AS LOGIN ================= */

.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #33ffcc, #33ffcc4a, #2a6ecb9c);
  font-family: Arial, sans-serif;
}

/* ================= GLASS CARD ================= */

.signup-card {
  width: 420px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
margin: 70px;;
  color: #162d6b;
}

/* ================= HEADING ================= */

.signup-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* ================= LABELS ================= */

.signup-card label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

/* ================= INPUTS & SELECT ================= */

.signup-card input,
.signup-card select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;

  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.3);

  outline: none;
  transition: 0.3s;
}

/* Focus Effect */
.signup-card input:focus,
.signup-card select:focus {
  border: 1px solid #6a5acd;
  box-shadow: 0 0 8px rgba(106,90,205,0.3);
}

/* ================= TERMS ================= */

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 18px 0;
  font-size: 14px;
}

.terms input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* ================= BUTTON ================= */

.signup-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;

  background: linear-gradient(135deg, #6a5acd, #4f46e5);
  color: white;

  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}